// create a sign up sheet 

<div class="container">
    <form class="signUp">
        <div class="form">
            <input type="email" class="form-input" id="userEmail" placeholder="email">
        </div>
        <div class="form">
            <input type="password" class="form-input" id="userPassword" placeholder="password">
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
    <p>login <a id="loginPage" href="login.handlebars">page</a></p>
</div>
<script type="text/javascript" src="javascript/signup.js"></script>
