<div class="container">
    <h1>Add a Review</h1>
    <form class="review">
        <div class="form-group">
            <label for="exampleCustomerName">Name of Customer</label>
            <input type="string" class="form-control" id="customerName" placeholder="name">
        </div>
        <div class="form-group">
            <label for="examplePhoneNumber">Phone Number?</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="phone number">
        </div>
        <div class="form-group">
            <label for="reviews">Comments and Reviews</label>
            <input type="string" class="form-control" id="reviews" placeholder="comments">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
     <p>login <a id="loginPage" href="/login">page</a></p>
    <p>home <a id="homePage" href="/">page</a></p>
     <p>signup <a id="signUpPage" href="/signup">page</a></p>
    
    <footer>
        This page has been brought to you by Niall, Waz, Sanders
     <h5><span>Developers</span></h5>
   
     </footer> 

</div>
<script type="text/javascript" src="javascript/customers.js"></script>
