<h1>The Reverse Yelp!</h1>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
    </nav>

      <div class= "container">     
          <button class="btn btn-warning"  id ="customers" type="button">Write a review</button>
          <button class="btn btn-warning log" id="logIn" type="button">Log in</button>
          <button class="btn btn-warning " id="signUp" type="button">Sign up!</button>  

        

        <form class="input-group mb-3" id="search"></form>
            <input type="text" id="text" class="form-control" placeholder="please enter a name">
            <div class="input-group-append">
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </div>
        </form>

         </div>
        </div>
      </div>
    </div>


