<div class="container">
    <form class="login">
        <div class="form">
            <input type="email" class="form-input" id="inputEmail" placeholder="email">
        </div>
        <div class="form">
            <input type="password" class="form-input" id="inputPassword" placeholder="password">
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
    <p>sign up <a id="signUpPage" href="signup.handlebars">page</a></p>
</div>
<script type="text/javascript" src="javascript/login.js"></script>