

<div class ="containter Revs">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Customer Name</h5>
    <p class="card-text">Customer reviews</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">review 1</li>
    <li class="list-group-item">Review 2</li>
    <li class="list-group-item">Review 3</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>