

<div class ="containter Revs">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Karen Jabroni</h5>
    <p class="card-text">Customer reviews</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">shes always complaining, just terrible</li>
    <li class="list-group-item">Bad Tipper!</li>
    <li class="list-group-item">always wants to speak to a manager, finds anything to complain about </li>
  </ul>
</div>
</div>
